<!doctype html>
<html>
    <body>
        <div class="row">
            <div class="col-sm-2">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Filmler</button>
                    <button type="button" class="list-group-item list-group-item-action">Haftanın filmleri</button>
                    <button type="button" class="list-group-item list-group-item-action">En çok beğenilenler</button>
                    <button type="button" class="list-group-item list-group-item-action">top100</button>
                    <button type="button" class="list-group-item list-group-item-action">top1000</button>
                </div>
            </div>
            </div>
    </body>
</html>
