<!doctype html>
<html>
    <body>
         <div class="row">
            <div *ngFor="let label of labels" >
                <button type="button" class="btn btn-primary" style="margin-right: 20px;margin-bottom: 5px;">
                   +{{label.name}} <span class="badge bg-primary ml-2"></span>
                  </button>
            </div>
            
         </div>
        <div >
            <form class="col text-center" style="margin-bottom: 20px;margin-top: 20px;">
                
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
        <h3 *ngIf="movies; else filmYok"></h3>
        <ng-template #filmYok>
            Film yoktur
        </ng-template>
        <div class="row">
            <div *ngFor="let movie of movies" class="card" style="width: 18rem;">
                <img src={{movie.img}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.name}}</h5>
                    <p class="card-text">{{movie.description}}</p>
                    <a href="#" class="btn btn-primary">Detay</a>
                </div>
            </div>
        </div>

        
    </body>
</html>
