body  {
    background-color: darkslategrey;
}

button {
    color: white;
    background-color:lightslategray;
    border-bottom-color: lightslategray;
    border-top-color: lightslategray;
    border-left-color: lightslategray;
    border-right-color: lightslategray;

}