<!doctype html>
<html>
    <body>


         <div class="row" id="etiket"> 
            <div *ngFor="let label of labels" >
                <button type="button" class="btn btn-primary" style="margin-right: 20px;margin-bottom: 5px;">
                   +{{label.name}}
                  </button>
            </div>
        
         </div>

         <ul>
            <li class="box-container fiyat" data-bind="css: {applied: attributeFilters().withFilter('fiyat').appliedFilters().length}" data-load-more="False" data-search-type="search">
            <h6>Film uzunluğu(Dakika)</h6>
            <div class="price-range-container">
            <div class="range-contain">
            <div class="range-contain-row left"><input class="input free" maxlength="3" pattern="\d{3}" type="number" placeholder="En az" data-bind="value: minPrice, valueUpdate:'afterkeydown', numeric" /></div>
            <div class="range-contain-row center">-</div>
            <div class="range-contain-row left"><input class="input free" maxlength="3" pattern="\d{3}" type="number" placeholder="En çok" data-bind="value: minPrice, valueUpdate:'afterkeydown', numeric" /></div>
            <div class="range-contain-row right">&nbsp;</div>
            </div>
            </div>
            </li>
            </ul>
        
         


        <h3 *ngIf="movies; else filmYok">{{title}}</h3>
        <ng-template #filmYok>
            Film yoktur
        </ng-template>
        <div class="row">
            <div *ngFor="let movie of movies" class="card" style="width: 18rem;">
                <img src={{movie.img}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.name}}</h5>
                    <p class="card-text">{{movie.description}}</p>
                    <a href="#" class="btn btn-primary">Detay</a>

                    
                </div>
            </div>
        </div>
    </body>
</html>
